$theme_dark_color: black;
$theme_light_bg: white;
$theme_contrast_highlight: #ffc107;

$blue: #2196f3;
$green: #7ed321;
$grey: #eee;
$danger_red: #f44336;

$stack_overflow_orange: $theme_contrast_highlight;
$twitter_blue: $blue;
$linkedin_blue: $blue;
$github_grey: black;

$love_color: $danger_red;
$skill_color: $theme_contrast_highlight;
$money_color: $green;
$cause_color: $blue;

$theme_light_text: rgba(255, 255, 255, 0.8);

$menu_bg: $theme_dark_color;
$canvas_bg: white;
$light_white: #fbfbfb;
$dull_white_text: rgba(255, 255, 255, 0.5);

$light_grey_border_color: #dadada;
$light_border_color: rgba(0, 0, 0, 0.1);
$light_white_border_color: rgba(255, 255, 255, 0.15);

$dark_black_text: rgba(0, 0, 0, 0.8);
$light_black_text: rgba(0, 0, 0, 0.4);

$positive_highlight_color: $green;
