@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transformStyle($value) {
  -webkit-transform-style: $value;
  -moz-transform-style: $value;
  transform-style: $value;
}

@mixin transformOrigin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  transform-origin: $value;
}

@mixin transitionDelay($time) {
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  -ms-transition-delay: $time;
  -o-transition-delay: $time;
  transition-delay: $time;
}

@mixin transitionTimingFunction($value) {
  -webkit-transition-timing-function: $value;
  -moz-transition-timing-function: $value;
  -ms-transition-timing-function: $value;
  -o-transition-timing-function: $value;
  transition-timing-function: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}
@mixin animation($value) {
  -webkit-animation: $value;
  -o-animation: $value;
  -ms-animation: $value;
  animation: $value;
}
@mixin animationFunction($value) {
  -webkit-animation-timing-function: $value;
  -moz-animation-timing-function: $value;
  -o-animation-timing-function: $value;
  animation-timing-function: $value;
}

@mixin animationName($value) {
  -webkit-animation-name: $value;
  -moz-animation-name: $value;
  -o-animation-name: $value;
  animation-name: $value;
}

@mixin gradient($value) {
  background: -moz-linear-gradient($value); /* FF3.6-15 */
  background: -webkit-linear-gradient($value); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    $value
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin userSelect($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}
