$default_line_height: 45px;
$ikgagai_add_item_widget_height: 45px;

$menubar_collapsed_width: 60px;
$menubar_expanded_width: 200px;
$side_menu_item_height: 60px;

$default_border_radius: 2px;
$button_border_radius: $default_border_radius;
