.navigation {
  .profile-info {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;

    .small-profile-image {
      display: none;
    }
    .profile-labels {
      float: none;
      text-align: center;
      transform: none;
      width: 100%;
    }
  }

  .navigation-links {
    width: 100%;
    > ul {
      > li {
        width: 25%;
        height: $default_line_height;
        overflow: hidden;
      }
    }
  }
}

.fixed-to-window {
  .navigation {
    .profile-info {
      display: none;
    }
  }
  .side-bar {
    display: none;
  }
}
