#about-me-page {
  .connect-with-me {
    .social-links {
      > li {
        float: none;
        width: 100%;
        margin-bottom: 10px;
        a {
          display: block;
          border-radius: $default_border_radius;
          text-align: center;
        }
      }
    }
  }
}

@import 'about-me.top-bar';
