ui-view
  //div.demo-player
  //  video(controls)
  //    source(src='assets/videos/demo/video_per_scene.mp4', type='video/mp4')
  //
  //h3 Sample Passages
  //ul.crg-options
  //  li
  //    label From their eyes were watching Gods
  //    a(ui-sref='crg.gameplay({id: 1})') Play
  //    a(ui-sref='crg.editor({id: 1})') Edit
  //    a(href='assets/data/crg/crg-sample-game-data-1.json') Data
  //
  //  li
  //    label Frankenstein
  //    a(ui-sref='crg.gameplay({id: 2})') Play
  //    a(ui-sref='crg.editor({id: 2})') Edit
  //    a(href='assets/data/crg/crg-sample-game-data-2.json') Data
  //
  //
  //  li
  //    label Harlem
  //    a(ui-sref='crg.gameplay({id: 3})') Play
  //    a(ui-sref='crg.editor({id: 3})') Edit
  //    a(href='assets/data/crg/crg-sample-game-data-3.json') Data

  .about-crg
    include ../../crg/proto/writeup