.crg-home
  .logo
    img(src='assets/images/zinc-logo.png')
  .heading
    div Close Reading Game
    div Prototype
  button
    a(ui-sref='crg.gameplay({id: 1})') Try Now
  button
    a(ui-sref='crg-demo()') View Demo

  //a#mac-download(href='http://nishants.site/downloads/Zinc.app.zip') Download

  script.
    var isMacos = window.navigator.platform == "MacIntel";
    !isMacos && document.getElementById("mac-download").remove()
