@import url("https://fonts.googleapis.com/css?family=Ubuntu:400i,400,500");
body {
  margin: 0px; }

body * {
  box-sizing: border-box; }

label {
  cursor: inherit; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

.resize-container:after, .drop-down ul.options:after, ul#flash-messages > li:after, #crgameplay .header:after, #crgameplay .crgame-progress > ul:after, #crgameplay .body:after, .crg-preview-modal .crg-editor-preview-bar:after, .crg-editor-form .scene-group .accordion-bar:after, #crgameplay .text:after, #crg .text:after, .crg-options:after, .scene-config-form .scene-param:after, .scene-config-form .scene-param .param-input:after, .scene-config-form .scene-param .param-input .input-options:after, .scene-config-form .scene-actions:after {
  content: "";
  display: table;
  clear: both; }

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

ul.undo-list, .drop-down ul.options, ul#flash-messages, ul.key-value-list, #crgameplay .crgame-progress > ul, #crgameplay .body .transcript .transcript-dialog ul.buttons, #crgameplay .body .transcript .transcript-dialog ul.select-options, #crgameplay .body .transcript .transcript-dialog ul.select-options-result, .crg-editor-form .scene-group ul.scenes {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

a.undo-link, button.outline a {
  text-decoration: none;
  line-height: inherit;
  color: inherit;
  display: block; }

a.undo-link:active, button.outline a:active {
  background-color: inherit;
  color: inherit; }

[ng-click] {
  cursor: pointer; }

button {
  cursor: pointer; }

[ui-view] {
  -webkit-animation: fadein 300ms;
  -o-animation: fadein 300ms;
  -ms-animation: fadein 300ms;
  animation: fadein 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1); }

.form-component, .input-component, .drop-down .current, .drop-down ul.options > li, button.outline {
  display: block;
  height: 45px;
  line-height: 45px;
  outline: none;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1); }

.form-component.active, .active.input-component, .drop-down .active.current, .drop-down ul.options > li.active, button.active.outline, button.outline:hover, button.outline.cta:hover,
button.outline.cta.active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.input-component, .drop-down .current, .drop-down ul.options > li {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 0px 50px; }

.form-component:hover, .input-component:hover, .drop-down .current:hover, .drop-down ul.options > li:hover, button.outline:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

button.outline {
  border: 1px solid #8db352;
  padding: 0px;
  background: transparent;
  color: #8db352;
  font-weight: 500;
  border-radius: 2px; }
  button.outline a {
    height: 100%;
    width: 100%; }

button.outline.cta {
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F6A623; }

button.outline:hover,
button.outline.active {
  background: #8db352;
  color: rgba(255, 255, 255, 0.9); }

button.outline.cta:hover,
button.outline.cta.active {
  background: #F6A623;
  color: rgba(255, 255, 255, 0.9); }

.drop-down {
  height: 45px;
  overflow: hidden; }
  .drop-down .current {
    padding: 0px 20px; }
    .drop-down .current .placeholder, .drop-down .current .caret {
      color: rgba(0, 0, 0, 0.3);
      font-weight: 300; }
    .drop-down .current label.value {
      font-weight: 500; }
    .drop-down .current .caret {
      line-height: inherit;
      float: right; }
  .drop-down ul.options {
    opacity: 0;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background: white;
    cursor: pointer;
    text-align: left; }
    .drop-down ul.options > li {
      padding: 0px 0px 0px 20px;
      display: block;
      border: 1px solid transparent; }

.drop-down.active {
  overflow: visible; }
  .drop-down.active ul.options {
    opacity: 1; }

.rubber_stamp {
  position: absolute;
  z-index: 1;
  top: 20px;
  float: left;
  padding: 5px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #8db352;
  border: 5px solid #8db352;
  border-radius: 10px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.rubber_stamp::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: auto;
  min-height: 100%;
  top: -10px;
  left: -10px;
  padding: 10px; }

ul#flash-messages {
  position: fixed;
  top: 80px;
  right: 10px; }
  ul#flash-messages > li {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    line-height: 21px; }
    ul#flash-messages > li .icon, ul#flash-messages > li label, ul#flash-messages > li .close {
      display: inline-block;
      float: left;
      padding: 0px 5px; }
  ul#flash-messages li.state .icon {
    color: #8db352; }
  ul#flash-messages li.state-error .icon {
    color: #ff5722; }

#state-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 2px;
  background-color: #8db352;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1); }

#state-loader.loading {
  opacity: 1;
  -webkit-animation: loading-state 15s;
  -o-animation: loading-state 15s;
  -ms-animation: loading-state 15s;
  animation: loading-state 15s; }

@keyframes loading-state {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  5% {
    -webkit-transform: scaleX(0.3);
    -moz-transform: scaleX(0.3);
    -ms-transform: scaleX(0.3);
    -o-transform: scaleX(0.3);
    transform: scaleX(0.3); }
  10% {
    -webkit-transform: scaleX(0.5);
    -moz-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    -o-transform: scaleX(0.5);
    transform: scaleX(0.5); }
  20% {
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
    transform: scaleX(0.7); }
  50% {
    -webkit-transform: scaleX(0.85);
    -moz-transform: scaleX(0.85);
    -ms-transform: scaleX(0.85);
    -o-transform: scaleX(0.85);
    transform: scaleX(0.85); }
  100% {
    -webkit-transform: scaleX(0.95);
    -moz-transform: scaleX(0.95);
    -ms-transform: scaleX(0.95);
    -o-transform: scaleX(0.95);
    transform: scaleX(0.95); } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
ul.key-value-list {
  text-align: center; }
  ul.key-value-list > li {
    padding: 20px; }
    ul.key-value-list > li .value {
      font-size: 24px;
      line-height: 29px; }
    ul.key-value-list > li .label {
      color: rgba(0, 0, 0, 0.5); }

@keyframes expand {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
/* Firefox < 16 */
@-moz-keyframes expand {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes expand {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
/* Internet Explorer */
@-ms-keyframes expand {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
/* Opera < 12.1 */
@-o-keyframes expand {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes expand {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes expand {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes expand {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes expand {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
#disqus_thread {
  width: 100%;
  overflow: hidden;
  padding: 20px;
  background-color: #EEE; }
  #disqus_thread iframe {
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px); }

body {
  background: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 16px; }
  body #app {
    min-height: 100vh; }
  body #content {
    padding: 50px 20px; }
    body #content #section {
      float: left;
      width: calc(100% - (300px));
      padding: 0px 20px; }

#crgameplay {
  max-width: 1200px;
  margin: auto;
  background-color: white; }

.state.crg-gameplay, .state.crg-editor, .state.crg-editor-preview {
  background-color: white; }
  .state.crg-gameplay #navigation, .state.crg-editor #navigation, .state.crg-editor-preview #navigation {
    -webkit-transform: translateY(calc(-100% - 10px));
    -moz-transform: translateY(calc(-100% - 10px));
    -ms-transform: translateY(calc(-100% - 10px));
    -o-transform: translateY(calc(-100% - 10px));
    transform: translateY(calc(-100% - 10px)); }
  .state.crg-gameplay #content, .state.crg-editor #content, .state.crg-editor-preview #content {
    margin-top: 0px;
    padding: 0px; }

#crgameplay .header {
  padding-top: 20px; }
  #crgameplay .header .logo, #crgameplay .header .crgame-progress, #crgameplay .header .skill-progress {
    float: left;
    height: 80px; }
  #crgameplay .header .logo {
    width: 150px;
    overflow: hidden;
    padding: 10px; }
    #crgameplay .header .logo img {
      display: block;
      margin: auto;
      height: 100%; }
  #crgameplay .header .crgame-progress {
    line-height: 80px;
    width: calc(100% - 450px); }
  #crgameplay .header .skill-progress {
    width: 300px; }

#crgameplay .crgame-progress {
  padding-top: 10px;
  position: relative; }
  #crgameplay .crgame-progress > ul {
    position: relative;
    z-index: 1; }
    #crgameplay .crgame-progress > ul > li {
      float: left;
      width: 25%; }
    #crgameplay .crgame-progress > ul > li:before {
      content: " ";
      display: block;
      height: 24px;
      width: 24px;
      background-color: #EEE;
      border-radius: 50%; }
    #crgameplay .crgame-progress > ul > li.current:before {
      background-color: #3F51B5; }
  #crgameplay .crgame-progress .connector {
    position: absolute;
    top: 22px;
    left: 0;
    width: 75%;
    height: 2px;
    background-color: #EEE; }

#crgameplay .body {
  min-height: calc(100vh - 100px);
  padding-top: 40px;
  text-align: center;
  position: relative; }
  #crgameplay .body .options, #crgameplay .body .passage, #crgameplay .body .transcript {
    float: left; }
  #crgameplay .body .passage {
    width: calc(100% - 450px);
    max-width: 750px;
    text-align: left;
    font-size: 18px;
    line-height: 28px; }
  #crgameplay .body .transcript {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px; }

#crgameplay .body .options {
  width: 150px; }
  #crgameplay .body .options .points {
    padding-bottom: 40px; }
    #crgameplay .body .options .points label {
      font-size: 16px;
      line-height: 21px; }
    #crgameplay .body .options .points .value {
      font-size: 36px;
      line-height: 46px; }
  #crgameplay .body .options .sound, #crgameplay .body .options .exit {
    margin-bottom: 40px; }
    #crgameplay .body .options .sound button, #crgameplay .body .options .exit button {
      border-radius: 50%;
      padding: 20px;
      background-color: #EEE;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.1); }

#crgameplay .body .transcript {
  padding: 10px; }
  #crgameplay .body .transcript button {
    -webkit-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  #crgameplay .body .transcript button {
    margin-top: 10px;
    padding: 10px 50px;
    border-radius: 15px;
    background-color: #3F51B5;
    color: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%; }
  #crgameplay .body .transcript .transcript-window {
    overflow: hidden; }
    #crgameplay .body .transcript .transcript-window img {
      display: block;
      width: 100%;
      margin: auto; }
  #crgameplay .body .transcript .transcript-dialog {
    margin-bottom: 10px;
    padding: 20px 10px;
    background: #fbfbfb;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    #crgameplay .body .transcript .transcript-dialog .transcript-message {
      font-size: 16px;
      line-height: 21px;
      padding: 10px; }
    #crgameplay .body .transcript .transcript-dialog ul.buttons li > {
      display: block; }
    #crgameplay .body .transcript .transcript-dialog ul.select-options > li, #crgameplay .body .transcript .transcript-dialog ul.select-options-result > li {
      display: block;
      padding: 10px;
      margin: 10px; }
      #crgameplay .body .transcript .transcript-dialog ul.select-options > li label, #crgameplay .body .transcript .transcript-dialog ul.select-options-result > li label {
        font-weight: 400; }
    #crgameplay .body .transcript .transcript-dialog ul.select-options-result label {
      color: rgba(255, 255, 255, 0.9); }
      #crgameplay .body .transcript .transcript-dialog ul.select-options-result label .marker {
        padding-right: 10px; }
    #crgameplay .body .transcript .transcript-dialog ul.select-options-result > li.correct {
      background-color: #8db352; }
      #crgameplay .body .transcript .transcript-dialog ul.select-options-result > li.correct .wrong {
        display: none; }
    #crgameplay .body .transcript .transcript-dialog ul.select-options-result > li.wrong {
      background-color: #ff5722; }
      #crgameplay .body .transcript .transcript-dialog ul.select-options-result > li.wrong .correct {
        display: none; }
    #crgameplay .body .transcript .transcript-dialog .user-input textarea {
      display: block;
      width: 100%;
      height: 180px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px; }

.crg-preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }
  .crg-preview-modal .crg-editor-preview-bar {
    background-color: #fbfbfb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .crg-preview-modal .crg-editor-preview-bar button {
      float: left;
      margin: 10px;
      padding: 0px 50px; }

.state.crg-editor-preview-scenes #navigation {
  -webkit-transform: translateY(calc(-100% - 10px));
  -moz-transform: translateY(calc(-100% - 10px));
  -ms-transform: translateY(calc(-100% - 10px));
  -o-transform: translateY(calc(-100% - 10px));
  transform: translateY(calc(-100% - 10px)); }
.state.crg-editor-preview-scenes #profile-bar {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }

.crg-editor {
  padding: 20px;
  max-width: 700px;
  margin: auto; }
  .crg-editor .editor-bar {
    -webkit-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1); }

.crg-editor-form {
  position: relative;
  padding-top: 40px;
  -webkit-transition: opacity 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: opacity 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: opacity 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 500ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  .crg-editor-form .card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  .crg-editor-form .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .crg-editor-form .scene-group {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .crg-editor-form .scene-group .accordion-bar {
      background-color: #4990E2;
      line-height: 60px;
      height: 60px; }
      .crg-editor-form .scene-group .accordion-bar button, .crg-editor-form .scene-group .accordion-bar label {
        margin-right: 10px;
        padding: 0px 20px;
        display: block; }
      .crg-editor-form .scene-group .accordion-bar label {
        float: left;
        text-transform: capitalize; }
      .crg-editor-form .scene-group .accordion-bar .expand-icon {
        margin-right: 5px; }
      .crg-editor-form .scene-group .accordion-bar button {
        float: right;
        color: rgba(0, 0, 0, 0.5);
        border: none;
        background-color: transparent;
        border-radius: 2px; }
    .crg-editor-form .scene-group ul.scenes {
      padding: 20px;
      background-color: #fbfbfb; }
      .crg-editor-form .scene-group ul.scenes .scene-editor {
        margin-bottom: 20px;
        border-radius: 2px;
        overflow: hidden;
        width: 100%;
        background-color: white; }
        .crg-editor-form .scene-group ul.scenes .scene-editor .scene-title {
          padding: 10px;
          text-transform: capitalize;
          background-color: #EEE;
          -webkit-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
          -moz-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
          -o-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1); }
      .crg-editor-form .scene-group ul.scenes .scene-editor:hover .scene-title {
        background-color: #4990E2;
        color: white; }
  .crg-editor-form .scene-group:not(.expand) .accordion-bar .expand-icon {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .crg-editor-form .scene-group:not(.expand) ul.scenes {
    display: none; }

.crg-editor .crg-bar {
  height: 60px;
  background-color: #fbfbfb; }
  .crg-editor .crg-bar button {
    height: 40px;
    line-height: 40px;
    float: left;
    margin: 10px 10px 0px 0px;
    padding: 0px 40px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent; }
  .crg-editor .crg-bar button.primary {
    background-color: #4990E2;
    color: rgba(255, 255, 255, 0.9); }
  .crg-editor .crg-bar .selection-heading {
    display: none;
    background: #4990E2;
    height: 100%;
    padding: 20px 10px;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center; }

.crg-editor-form .passage-selector {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1); }

.crg-editor.selecting-from-passage .crg-editor-form .passage-selector {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.crg-editor.selecting-from-passage .editor-bar.crg-bar .actions {
  display: none; }
.crg-editor.selecting-from-passage .editor-bar.crg-bar .selection-heading {
  display: block; }
.crg-editor.selecting-from-passage .crg-editor-form {
  opacity: 0;
  pointer-events: none; }

#crgameplay .passage .title, #crg .passage .title {
  font-size: 36px;
  line-height: 46px; }
  #crgameplay .passage .title .from, #crg .passage .title .from {
    font-weight: 500; }
  #crgameplay .passage .title :not(.from), #crg .passage .title :not(.from) {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300; }
#crgameplay .passage .author, #crg .passage .author {
  font-size: 14px;
  line-height: 19px; }
#crgameplay .text, #crg .text {
  padding-top: 20px;
  position: relative; }
  #crgameplay .text .selection-options, #crg .text .selection-options {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 24px;
    line-height: 24px;
    padding-right: 5px; }
    #crgameplay .text .selection-options .close-enough-selection, #crg .text .selection-options .close-enough-selection {
      position: relative;
      top: -5px;
      background-color: #EEE;
      padding: 0px 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      #crgameplay .text .selection-options .close-enough-selection label, #crg .text .selection-options .close-enough-selection label {
        line-height: 16px;
        font-size: 11px;
        font-weight: 400; }
  #crgameplay .text .word, #crg .text .word {
    display: inline-block;
    height: 24px;
    line-height: 24px; }
  #crgameplay .text .word:not(:first-child), #crg .text .word:not(:first-child) {
    padding: 0px 2.5px; }
  #crgameplay .text .word.line-break, #crg .text .word.line-break {
    display: block;
    height: 10px;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #crgameplay .text .word.highlight, #crg .text .word.highlight {
    background-color: #3F51B5;
    color: white; }
  #crgameplay .text .word.flash, #crg .text .word.flash {
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    color: #fbfbfb;
    background-color: #8db352; }
#crgameplay .text.focusing .word:not(.focus), #crg .text.focusing .word:not(.focus) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.1; }

.crg-options > li {
  padding-left: 10px;
  clear: both;
  padding-bottom: 10px; }
  .crg-options > li label, .crg-options > li a {
    padding-right: 10px; }

.about-crg h5, .about-crg h3 {
  margin: 20px 0px 0px; }

.scenes .add-scenes button {
  width: calc(100% - 20px);
  margin: 10px; }

.scene-config-form {
  padding: 20px 10px; }
  .scene-config-form textarea, .scene-config-form input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: calc(100% - 60px); }
  .scene-config-form input {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; }
  .scene-config-form textarea {
    min-height: 150px;
    resize: vertical; }
  .scene-config-form button {
    float: right;
    padding: 5px 30px;
    margin-left: 10px; }
  .scene-config-form .scene-param {
    margin-bottom: 30px;
    line-height: 24px; }
    .scene-config-form .scene-param .param-label {
      width: 125px;
      float: left;
      text-align: right;
      padding-right: 20px; }
    .scene-config-form .scene-param .param-input {
      float: left;
      border-radius: 2px;
      width: calc(100% - 125px); }
      .scene-config-form .scene-param .param-input input, .scene-config-form .scene-param .param-input .param-action {
        float: left; }
      .scene-config-form .scene-param .param-input .param-action {
        display: block;
        width: 30px;
        text-align: center;
        padding: 10px;
        cursor: pointer; }
      .scene-config-form .scene-param .param-input button {
        float: right;
        margin-right: 60px; }
      .scene-config-form .scene-param .param-input .input-options {
        margin-bottom: 10px; }
        .scene-config-form .scene-param .param-input .input-options input.check {
          float: left;
          width: 20px; }
        .scene-config-form .scene-param .param-input .input-options input.checked {
          float: left;
          margin-right: 10px;
          display: inline-block;
          width: calc(100% - 100px); }
    .scene-config-form .scene-param .param-input.no-edit button {
      margin-right: 80px; }
  .scene-config-form .scene-actions {
    margin-right: 60px;
    padding: 10px 0px; }

@media screen and (min-width: 910px) {
  .mobile-only {
    display: none !important; } }
@media screen and (min-width: 650px) and (max-width: 910px) {
  .no-mobile {
    display: none !important; } }
@media screen and (max-width: 650px) {
  .no-mobile {
    display: none !important; } }
